body {
  background-color: rgba(128, 128, 128, 0.3);
  background-color: hsla(240, 2%, 27%, 0.3);
}


body p {
  color: rgb(25, 0, 255);
}

.color-blue {
  color: #1900ff;
}

#blue {
  color: blue;
}

p {
  color: hsl(246, 100%, 50%);
}



