 table {
  border-spacing: 0px;
} 

td {
  width: 100px;
  height: 100px;
  background-color: red;
} 


.circle {
  background-color: blue;
  border-radius: 50%;
}

.blue {
  background-color: blue;
}


tr:first-child td:first-child {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%; 
}

tr:last-child td:first-child {
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%; 
}

tr:first-child td:nth-child(2) {
  border-top-left-radius: 40%;
}

tr:last-child td:nth-child(2) {
  border-bottom-left-radius: 40%;
}

.semicircle {
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}
