* {
  margin: 0;
}

div {
  border: 1px solid black;
}


/* Phone  */

@media (min-width: 576px) {
  div {
    width: 100%;
  }
}


/* Tablet  */

@media (min-width: 768px) {
  .item-2 {
    float: left;
    width: 30%;
  }
  
  .item-3 {
    float: right;
    width: 30%;
  }
  
  .item-4 {
    width: 40%;
    margin: 0 auto;
  }
}


/* Desktop */

@media (min-width: 992px) {
  .item-2 {
    width: 20%;
  }

  .item-3 {
    width: 20%;
  }

  .item-4 {
    width: 50%;
  }
}



