div {
  border: 2px solid black;
}

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.container div {
  margin: 20px;
  padding: 5px;
}

.item-1 {
  align-self: start;
}

.item-2 {
  align-self: center;
}

.item-5 {
  align-self: flex-end;
}