div {
  border: 1px solid black;
}

.container {
  height: 122px;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: flex-end; */
}

.container div {
  padding: 5px;
  margin: 5px;
}

.item-1 {
  order: 1;
}

.item-3 {
  order: 2;
}

.item-4 {
  order: 3;
}

.item-2 {
  order: 5;
}