body {
  background-image: url(./img/pexels-photo-115045.jpeg);

}

p {
  font-weight: 700;
  line-height: 50px;
  font-size: 14px;
}

.hex-color {
  color: #ff0101;
}


.name-color {
  color: red;
}


.rgb-color {
  color: rgb(255, 1, 1);
} 


.hsl-color {
  color: hsl(0, 100%, 50%)
}

.hsla-color {
  color: hsla(0, 100%, 50%, 0.3)
}

