div {
  border: 1px solid black;
}

.container {
  display: flex;
  height: 100px;
  align-items: flex-end;
}

.container div {
  width: 75px;
}


.item-3 {
  align-self: start;
}

.item-2 {
  align-self: center;
}